body {
  width: 100%;
}
#container{
  width: 80%;
  border: 2px solid white;
  background: #032107;
  margin: 0px auto;
  color: #FFF;
}
#nav{
  border: 5px solid white;
}
#playingArea div{
  margin: auto;
}
#title{
  text-align: center;
}
#playerHand .cardArea,
#dealerHand .cardArea{
  width: 30%;
  height: 200px;
}
img{
  width: 100px;
  height: 150px;
}