body  {
  width: 100%;
}
#container{
  width: 80%;
  border: 2px solid white;
  background: #032107;
  margin: 0px auto;
  color: #FFF;
}
#nav{
  border: 5px solid white;
}
#playingArea div,
#start{
  margin: auto;
}
#title{
  text-align: center;
}
#score-message{
  margin: auto;
  color: red;
  font-weight: bold;
  height: 50px;
  width: 50%;
}
#score-message h2{
  margin: auto;
  text-align: center;
}
#playerHand .cardArea,
#dealerHand .cardArea{
  width: 30%;
  height: 200px;
}
img{
  width: 100px;
  height: 150px;
}
table{
  width: 40%;
}
button{
  border-radius: 50px;
  height: 50px;
  width: 100%;
}