body  {
  width: 100%;
  background: #010A00;
}
#container{
  width: 80%;
  border: 10px solid black;
  background: #032107;
  margin: 0px auto;
  color: #FFF;
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 300px;
}
#playingArea div,
#start{
  margin: auto;
}
#title{
  text-align: left;
}
#score-message{
  margin: auto;
  color: red;
  font-weight: bold;
  height: 50px;
  width: 50%;
}
#score-message h2{
  margin: auto;
  text-align: center;
}
#playerHand .cardArea,
#dealerHand .cardArea{
  width: 30%;
  height: 200px;
}
img{
  width: 100px;
  height: 150px;
}
#controls {
  position: relative;
  left: 30%;
}
button{
  border-radius: 50px;
  height: 50px;
  width: 150px;
}
#playerHand button {
  margin: 0px auto;
}